.landing-introduction-booking-button {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #05B4BA;
    background: #05B4BA;
    transition: background-color 0.3s ease;
    color: white;
  }
  
  .landing-introduction-booking-button:hover {
    background: #06e3eb;
    border: 2px solid rgba(225, 8, 55, 0.3);
    cursor: url('../../assets/images/icons8-google-calendar-64.png'), auto;
  }
  
  .landing-introduction-booking-button:active {
    background: #06f7ff;
    border: 2px solid rgba(227, 18, 63, 0.8);
  }

  .landing-introduction-contact-button {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid var(--white, #FFF);
  }
  
  .landing-introduction-contact-button:hover {
    background: #c7c7c7;
    border: 2px solid rgba(225, 8, 55, 0.3);
  }
  
  .landing-introduction-contact-button:active {
    background: #ffffff;
    border: 2px solid rgba(227, 18, 63, 0.8);
  }