.carousel-container {
    width: 100%;
    margin-top: 170px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.carousel-item {
    width: 408px;
    height: 408px;
    flex-shrink: 0;
    border-radius: 34px;
    background: #F5F5F5;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
    padding-top: 92px;
    padding-left: 66px;
    padding-right: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.carousel-item h3,
.carousel-item h1 {
    padding-top: 16px;
}

.carousel-item h1 {
    color: var(--blue-gray-900, #0F172A);
    /* Heading/6 */
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 26.4px */
}

.carousel-item h3 {
    color: var(--blue-gray-600, #475569);
    /* Body/L */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 28.8px */
}

.carousel-item img {
    width: 40px;
    height: 40px;
}

.carousel-dots {
    margin-top: 28px;
    width: 84px;
    height: 18px;
    margin-bottom: 30px;
}

.carousel-dots svg {
    cursor: pointer;
}

.active {
    background-color: #05B4BA;
}


@media (min-width: 857px) {

    .carousel-item.team-section {
        text-align: center;
    }

    .carousel-item.team-section img {
        height: auto;
        width: 200px;
        max-height: 200px;
        border-radius: 20px;
    }
}


@media (max-width: 856px) {

    .carousel-item.unlock-section img {
        width: 30px;
        height: 30px;
    }

    .carousel-item.team-section {
        text-align: center;
        padding: 25% 25%;
    }

    .carousel-item.team-section img {
        width: 200px;
        height: auto;
        object-fit: cover;
        max-height: 200px;
        border-radius: 20px;
    }

    .carousel-item.unlock-section {
        margin: 5px 5px;
    }

    .carousel-container {
        padding: 0 5%;
        margin-top: 0;
        justify-content: center;
    }

    .carousel-item h3 {
        font-size: 13px;
    }

    .carousel-dots {
        width: 50px;
        height: 10px;
        text-align: center;
        margin: 2% auto;
        margin-bottom: 10%;
    }
}