/* 
In media queries 856px is the width when the screen does not look properly 
whereas 428px is closer to the actual mobile width
*/

.dropdown-flag {
    max-width: 2%;
    height: auto;
}

.dropdown-select {
    cursor: pointer;
    margin-right: 15px;
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    min-width: 30px;
}

/* MEDIQUERIES MOBILE */
@media (max-width: 856px) {
    .dropdown-container {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-content: flex-start;
        align-items: stretch;
    }

    .dropdown-flag {
        max-width: 25%;
    }
}

/* END MEDIQUERIES MOBILE */