.contact-section {
    background-color: #293039;
    background: linear-gradient(to bottom, #293039 0%, #293039 30%, transparent 90%),
        url('../../assets/images/backgroundImages/abstract_background.png') no-repeat center bottom;
    background-size: cover, 100% 100%;
}

.contact-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section-text-title {
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
}

.contact-section-text-description {
    color: #FFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding: 0 10%;
    /* 20.8px */

}

.contact-section-form-input.contact-form-button {
    border-radius: 8px;
    border: 2px solid #05B4BA;
    background: #05B4BA;

    color: var(--White, #FFF);
    /* Button/L */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.5px;
}

.contact-section-booking-button {
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.contact-section-booking-button {
    margin: 20px 0;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid #FFF;
}

.contact-section-form-input,
.contact-section-form-text-area {
    width: calc(100% - 10%);
    max-width: 100%;
    height: 50px;
    height: 60px;
    background-color: white;
    border: 1px solid #293039;
    border-radius: 10px;
    padding-left: 10px;
}

.contat-form-error {
    color: red;
    font-size: 18px;
    text-align: center;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-area {
    overflow-x: hidden;
    white-space: pre-wrap;
}

@media (min-width: 856px) {

    .contact-section {
        display: flex;
        flex-direction: row-reverse;
    }

    .contact-section-text-title {
        font-size: 64px;
    }

    .contact-section-text-description {
        font-size: 18px;
    }

    .contact-section-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin: 20px;
        margin-bottom: 300px;
        min-width: calc(100% - 60%);
    }

    .text-area,
    .contact-section-form-submit {
        grid-column: 1 / 3;
    }

    /* .text-area {
        width: 100%;
        height: 100px;
        overflow-x: hidden;
        white-space: pre-wrap;
    } */

    .contact-section-form-text-area {
        grid-column: span 2;
        height: 200px;
        width: 100%;
    }

    .contact-section-form-submit [type="submit"] {
        min-width: 300px;
    }

    .contact-section-form-input {
        width: 100%;
    }
}

@media (max-width: 856px) {

    .contact-section-text-title {
        font-size: 36px;
    }

    .contact-section-text-description {
        font-size: 13px;
    }

    .contact-section-form-image {
        width: 100%;
    }

    .contact-section-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-section-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-section-form-submit {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 300px;
    }

    .contact-section-form-input,
    .contact-section-form-text-area {
        width: 100%;
        height: 50px;
        width: 350px;
        height: 60px;
        max-width: 90%;
        background-color: white;
        border: 1px solid #293039;
        border-radius: 10px;
        padding-left: 10px;
    }

    .contact-section-form-text-area {
        height: 200px;
    }

    .contact-section-form-input.text-area {
        height: 300px;
    }

}