.passed-works-section {
    display: flex;
    width: 100%;
}

.passed-works-one-third {
    width: 33.33%;
    height: 608px;
}

.store-image {
    background: url('../../assets/images/productLayer/store.png'), no-repeat;
}

.mobile-image {
    background: url('../../assets/images/productLayer/mobile.png'), no-repeat;
}

.dashboard-image {
    background: url('../../assets/images/productLayer/dashboard.png'), no-repeat;
}

.passed-works-overlay {
    background: rgba(5, 180, 186, 0.90);
    width: auto;
    height: 100%;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.passed-works-text {
    display: flex;
    width: 100%;
    height: 20%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.passed-works-overlay h1 {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.passed-works-overlay h1,
.passed-works-overlay p {
    width: 80%;
}

.passed-works-section img {
    height: 608px;
}

@media (max-width: 856px) {
    .passed-works-section {
        flex-direction: column;
        align-items: center;
    }

    .passed-works-one-third {
        width: 100%;
    }

    .passed-works-overlay {
        margin-left: 0px;
        height: 50%;
        color: white;
        transform: translateY(99.9%);
    }

    .passed-works-text {
        width: 100%;
    }

    .passed-works-overlay p {
        font-size: 13px;
    }
}