/* 
In media queries 856px is the width when the screen does not look properly 
whereas 428px is closer to the actual mobile width
*/

/* landing introduction */

.landing-logo-container {
  min-width: 150px;
  min-height: 150px;
  max-width: 355.114px;
  max-height: 329.545px;
  overflow: hidden;
  margin-left: 66px;
  background: #293039;
}

.landing-logo-container img {
  width: 100%;
  min-height: auto;
  margin-top: -60px;
  background-repeat: no-repeat;
}

.landing-introduction-block {
  display: flex;
}

.landing-introduction {
  flex-shrink: 0;
  z-index: 2;
  background: #293039;
  padding-bottom: 10px;
}

.landing-introduction-text {
  max-width: 1920px;
  max-height: auto;
  display: flex;
  max-width: 40%;
  margin-left: 5%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  text-align: justify;
}

.landing-introduction-text-title-evolve {
  color: #05B4BA;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  /* 70.4px */
}

.landing-introduction-text-title-description::after {
  content: "\A";
  white-space: pre;
}

.landing-introduction-text-description {
  align-self: stretch;
  color: var(--white, #FFF);
  /* Body/L */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
}

.landing-introduction-text-title {
  align-self: stretch;
  color: var(--white, #FFF);
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;
}

.landing-introduction-image {
  height: auto;
  min-width: 55%;
  overflow: auto;
  z-index: 1;
  margin-top: -290px;
  align-self: flex-start;
  mix-blend-mode: lighten;
  filter: brightness(1.5);
}

.buttons {
  display: flex;
  grid-gap: 10px;
}

.buttons button {
  color: white;
  cursor: pointer;
}

/* END landing introduction */

/* MEDIQUERIES MOBILE */
@media (max-width: 856px) {

  .landing-introduction {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../assets/images/header_landing.png) no-repeat;
    background-size: cover;
    background-position: 50%;
    z-index: -1;
  }

  .landing-introduction::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, #293039 25%, rgba(41, 48, 57, 0.00) 100%);
    pointer-events: none;
  }

  .landing-logo-container {
    min-width: 100px;
    min-height: 100px;
    max-width: 159px;
    max-height: 150px;
    overflow: hidden;
    margin-left: 66px;
    padding-top: 50px;
    background: #293039;
    border-radius: 100%;
    z-index: 2;

  }

  .landing-introduction-block {
    z-index: 2;
  }

  .landing-introduction-block .landing-introduction-text-title-evolve {
    align-items: center;
  }

  .landing-introduction-text-title-evolve {
    font-size: 45px;
  }

  .landing-introduction-text-title-description {
    font-size: 45px;
  }

  .landing-introduction-text {
    width: 100% !important;
    height: auto;
    max-width: 100%;
    margin-left: 20%;
  }

  .landing-introduction-text-description {
    width: 100%;
    font-weight: 600;
  }

  .landing-introduction-text-title-description::after {
    content: "";
    white-space: pre;
  }

  .buttons {
    display: block;
  }

  .buttons button {
    margin: 10px 0px;
    width: 100%;
  }

  .landing-introduction-image img {
    display: none;
  }

}

/* Hasta 1024px (por ejemplo, dispositivos móviles en orientación horizontal) */
@media (max-width: 1024px) {
  /* Tus estilos aquí */
}

@media (max-width: 1280px) {
  /* Tus estilos aquí */
}


/* END MEDIQUERIES */