/* 
In media queries 856px is the width when the screen does not look properly 
whereas 428px is closer to the actual mobile width
*/

/* landing introduction */

.landing-logo-container {
  min-width: 150px;
  min-height: 150px;
  max-width: 355.114px;
  max-height: 329.545px;

  margin-left: 66px;
  background: #293039;
}

.landing-logo-container img {
  width: 100%;
  min-height: auto;
  margin-top: -60px;
  background-repeat: no-repeat;
}

.landing-introduction-block {
  display: flex;
}

.landing-introduction {
  flex-shrink: 0;
  z-index: 2;
  background: #293039;
  padding-bottom: 10px;
  min-height: 100vh; /* Asegura que ocupe al menos toda la altura de la pantalla */
  width: 100%;
  position: relative; /* Para el posicionamiento de elementos internos */
}

.landing-introduction-text {
  max-width: 1920px;
  max-height: auto;
  display: flex;
  max-width: 40%;
  margin-left: 5%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  text-align: justify;
}

.landing-introduction-text-title-evolve {
  color: #05B4BA;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  /* 70.4px */
}

.landing-introduction-text-title-description::after {
  content: "\A";
  white-space: pre;
}

.landing-introduction-text-description {
  align-self: stretch;
  color: var(--white, #FFF);
  /* Body/L */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
}

.landing-introduction-text-title {
  align-self: stretch;
  color: var(--white, #FFF);
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;
}

.landing-introduction-image {
  height: auto;
  min-width: 55%;
  overflow: auto;
  z-index: 1;
  margin-top: -290px;
  align-self: flex-start;
  mix-blend-mode: lighten;
  filter: brightness(1.5);
}

.buttons {
  display: flex;
  grid-gap: 10px;
}

.buttons button {
  color: white;
  cursor: pointer;
}

/* END landing introduction */

/* MEDIQUERIES MOBILE */
@media (max-width: 856px) {
  .landing-introduction {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: #293039;
    display: flex;
    flex-direction: column;
  }

  .landing-introduction::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #293039;
    z-index: 1;
  }

  .landing-introduction > * {
    position: relative;
    z-index: 2;
  }

  .landing-logo-container {
    min-width: 100px;
    min-height: 100px;
    max-width: 159px;
    max-height: 150px;
    overflow: hidden;
    margin: 20px auto;
    padding-top: 50px;
    background: transparent;
    z-index: 2;
  }

  .landing-introduction-block {
    z-index: 2;
    width: 100%;
    padding: 20px;
  }

  .landing-introduction-text {
    width: 100% !important;
    max-width: 100%;
    margin: 0;
    padding: 20px;
  }

  .landing-introduction-text-title-evolve {
    font-size: 32px;
    text-align: center;
  }

  .landing-introduction-text-title-description {
    font-size: 32px;
    text-align: center;
  }

  .landing-introduction-text-description {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }

  .buttons button {
    margin: 5px 0;
    width: 100%;
  }

  .landing-introduction-image {
    display: none;
  }
}

/* Hasta 1024px (por ejemplo, dispositivos móviles en orientación horizontal) */
@media (max-width: 1024px) {
  /* Tus estilos aquí */
}

@media (max-width: 1280px) {
  /* Tus estilos aquí */
}


/* END MEDIQUERIES */
