* {
  margin: 0px;
  padding: 0px;
  clear: both;
  font-family: Roboto;
}

/* landing introduction */

.landing-logo-container {
  min-width: 150px;
  min-height: 150px;
  max-width: 355.114px;
  max-height: 329.545px;
  overflow: hidden;
  margin-left: 66px;
}

.landing-logo-container img {
  width: 150px;
  min-height: 150px;
  padding: 10px;
  /* background: url(./assets/images/logo.png), lightgray 50% / cover no-repeat; */
  background-repeat: no-repeat;
}

.landing-introduction {
  max-width: 1920px;
  max-height: 1050px;
  flex-shrink: 0;
  background: #293039;
}

.landing-introduction-text {
  display: flex;
  max-width: 724px;
  margin-left: 5%;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.landing-introduction-text-title-evolve {
  color: #05B4BA;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  /* 70.4px */
}

.landing-introduction-text-description {
  align-self: stretch;
  color: var(--white, #FFF);
  /* Body/L */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
}

.landing-introduction-text-title {
  align-self: stretch;
  color: var(--white, #FFF);
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;
}

.landing-introduction-booking-button {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #05B4BA;
  background: #05B4BA;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.landing-introduction-booking-button:hover {
  background: #06e3eb;
  border: 2px solid rgba(225, 8, 55, 0.3);
}

.landing-introduction-booking-button:active {
  background: #06f7ff;
  border: 2px solid rgba(227, 18, 63, 0.8);
}

.landing-introduction-contact-button {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--white, #FFF);
}

.landing-introduction-contact-button:hover {
  background: #c7c7c7;
  border: 2px solid rgba(225, 8, 55, 0.3);
}

.landing-introduction-contact-button:active {
  background: #ffffff;
  border: 2px solid rgba(227, 18, 63, 0.8);
}

.landing-introduction-image {
  max-width: 1506px;
  max-height: 1004px;
  background: url(../assets/images/header_landing.png), lightgray 50% / cover no-repeat;
  mix-blend-mode: lighten;
}

.buttons {
  display: flex;
}

/* END landing introduction */

/* landing vision */

.landing-vision {
  max-width: 1920px;
  max-height: 710px;
  flex-shrink: 0;
  background: #FFF;
}

/* END landing vision */