* {
  margin: 0px;
  padding: 0px;
  clear: both;
  font-family: Roboto;
}

/* landing vision */

.landing-vision {
  max-width: 1920px;
  max-height: 710px;
  flex-shrink: 0;
  background: #FFF;
}

/* END landing vision */