.landing-unlock-block {
    min-height: 710px;
    display: flex;
}


.landing-unlock-block.unlock {
    background-color: white;
}

.landing-unlock-block.team {
    background: #293039;
}

.landing-unlock-text {
    max-width: 50%;
    padding-top: 5%;
    padding-left: 5%;
}

.landing-unlock-text-evolve {
    color: #05B4BA;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.landing-unlock-text-title {
    color: #293039;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    /* 70.4px */
}

.landing-unlock-slider-section {
    max-width: 50%;
}

.landing-unlock-text-title {
    align-self: stretch;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    padding-right: 1%;
    /* 70.4px */
}

.landing-unlock-text-description {
    align-self: stretch;
    color: #293039;
    /* Body/L */
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    padding-right: 5%;
    margin-top: 28px;
}

.landing-unlock-text-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.landing-unlock-text-button img {
    padding-left: 16px;
}

.landing-unlock-text-description.unlock,
.landing-unlock-text-title.unlock {
    color: #293039;
}

.landing-unlock-text-title.team,
.landing-unlock-text-description.team {
    color: white;
}

@media (max-width: 856px) {
    .landing-unlock-block {
        min-height: auto;
        flex-direction: column;
        align-items: center;
    }

    .landing-unlock-text {
        max-width: 100%;
        padding: 15% 5%;
    }

    .landing-unlock-text-title {
        font-size: 36px;
    }

    .landing-unlock-text-description {
        font-size: 13px;
    }

    .landing-unlock-slider-section {
        max-width: 100%;
    }
}