*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, fieldset, legend, input, textarea, blockquote {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Restablecer los estilos de encabezado */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Establecer una altura y ancho consistentes para los elementos de imagen */
img {
  max-width: 100%;
  height: auto;
}

/* Restablecer los estilos de formulario para una apariencia consistente en diferentes navegadores */
button, input, select, textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

/* Restablecer los estilos de los elementos que pueden ser seleccionados */
button, input, select, textarea {
  user-select: text;
}